PORT=5000
DB_ENGINE=mongo

MONGO_URI=mongodb://localhost:27117/
MONGO_DB=product_demo
MONGO_COLLECTION=products

POSTGRES_DSN=postgresql://benchmark:benchmark@localhost:5433/product_demo

DEFAULT_LIMIT=12